html{
  height: cover;
  width: cover;
}

body{
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0;
  margin: 25px;
  border: 2px solid #ADD8E6;
  font-family: courier;
  font-size: 25px;
}

input{
	font-family: courier;
	font-size: 25px;
	width: 700px;

}

button{
	font-family: courier;
	font-size: 25px;
	margin: 25px 30px;
}


.top {
	margin: 10px 0 0 23px;
}

.bottom{
	margin: 0 20px;
}


@media (max-width: 800px){
  input{
    max-width: 100%;
  }
}